body {
    background-color:  #1e252b;
    color: #7998aa;
}
#navbar {
    display: block;
    background-color: #29323a;
    border: black 1px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: block;
    width: 100%;
}
#searchbar {
    float: right;
}
#logoriba {
    color: black;
    margin-top: 56px;
    background-color: #1e252b;
}
#sisuriba {
    padding: 2px;
}
.sisukast {
    background-color: #263138;
    border-radius: 7px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.Karussell div{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#vasaktulp h4 {
    padding-top: 5px;
}
.pilt {
    width: 100%;
    max-height: 100%;
    margin-bottom: 15px;
    padding-bottom: 5px;
    min-width: 60%;
}

.avalehtuudised {
    text-align: center;
   background-color: #263138;
   border-radius: 7px;
   margin-bottom: 15px;
   padding-bottom: 5px;
}
.avalehtuudised p {
    font-size: 15px;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}
.avalehtuudised h3 {
    padding-top: 15px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
input[type=submit]:hover {
    background-color: #45a049;
  }
.container {
    border-radius: 5px;
    background-color: #29323a;
    padding: 20px;
  }

#paremtulp h4 {
    padding-top: 5px;
}
.maailmaseisud{
    background-color: #1e252b;
}
.tiimikaart {
    background-color: #29323a;
}
#footer {
    background-color: #1e252b;
}